.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    z-index: -1;
}

.hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero{
    color: #fff;
    height: 50vh;
    text-align: center;
}

.hero h1{
    text-transform: uppercase;
    letter-spacing: 1.5px;
}